
@{
    Layout = "~/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yetkisiz İşlem</title>
</head>
<body>
    <h1>Yetkisiz İşlem</h1>
</body>
</html>
