<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<title>@ViewBag.Title</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg bg-body-tertiary">

		<div class="container-fluid">
			@if (User.Identity.IsAuthenticated)
			{
				<a class="navbar-brand" asp-action="Index" asp-controller="Home">@User.Identity.Name</a>

			}
			else
			{
				<a class="navbar-brand" asp-action="Index" asp-controller="Home">Home</a>

			}
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					@if (!User.Identity.IsAuthenticated)
					{
						<li class="nav-item">
							<a class="nav-link" aria-current="page" asp-action="Login" asp-controller="Home">Giriş Yap</a>
						</li>
					}
					@if (User.Identity.IsAuthenticated)
					{
						<li class="nav-item">
							<a class="nav-link" asp-action="Register" asp-controller="Account">Kullanıcı Ekle</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-action="Users" asp-controller="Account">Kullanıcılar</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" asp-action="Logout" asp-controller="Account">Çıkış Yap</a>
						</li>
					}

				</ul>
				
			</div>
		</div>
	</nav>
	<div class="container-xl">
		@RenderBody()
	</div>
</body>
</html>
